.remove-btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

.progress-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 10px;
    margin-top: 5px;
    width: 60px;
  }
  
.progress {
    background-color: green;
    height: 100%;
    border-radius: 5px;
  }